@import './variables.css';

.graphiql-container {
    & .topBarWrap {
        @apply --flex;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        & .topBar {
        align-items: center;
        background: var(--white);
        cursor: default;
        @apply --flex;
        flex: 1;
        height: 40px;
        overflow-y: visible;
        padding: 8px 14px 8px;
        -webkit-user-select: none;
        }
    }

    & .docExplorerShow,
    & .historyShow {
        background: var(--white);
        border: none;
        color: var(--text-color);
        cursor: pointer;
        font-size: 16px;
        margin: 0;
        outline: 0;
        padding: 12px;
    }

    & .docExplorerShow:before {
        border-left: var(--teal-border);
        border-top: var(--teal-border);
        content: '';
        display: inline-block;
        height: 9px;
        margin: 0 3px -1px 0;
        position: relative;
        transform: rotate(-45deg);
        width: 9px;
    }


    & .toolbar {
        overflow-x: visible;
        @apply --flex;
    }

    & .toolbar-button {
        background: var(--teal);
        border: none;
        padding: 10px 16px;
        color: var(--white);
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
        font-family: var(--sans-serif);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &:active {
            box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);;
        }
    }


    & .execute-button-wrap {
    height: 34px;
    margin: 0 14px 0 28px;
    position: relative;

    & .execute-button {
        background: var(--white);
        border: none;
        cursor: pointer;
        fill: var(--text-color);
        height: 40px;
        margin: 0;
        padding: 0;
        width: 40px;

        &:active,
        &:focus {
            outline: none;
        }

        & svg {
        pointer-events: none;
        }
    }
    }

    & .toolbar-button-group {
        margin: 0 5px;
        white-space: nowrap;

        & > * {
            margin: 0;
        }

        & > *:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        > *:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;
        }
    }
}
