
.graphiql-container .editorBar {
  @apply --flex;
  flex: 1;

    @media(max-width: 768px) {
        flex-direction: column;
    }


    & .queryWrap {
      @apply --flex-column;
      flex: 1;
    }

  & .resultWrap {
    @apply --flex-column;
    flex: 1;
    position: relative;
  }

  & .codemirrorWrap {
    flex: 1;
    height: 100%;
    position: relative;
  }

  & .result-window {
    flex: 1;
    height: 100%;
    position: relative;

        @media(max-width: 768px) {
          border-top: 3px solid var(--black);
      }
  }

  & .query-editor {
    flex: 1;
    position: relative;
  }

  & .variable-editor {
    background: var(--black);
    padding: 10px;
    padding-bottom: 0;
    color: var(--teal);
    padding-left: 20px;
    font-size: 13px;
    font-family: var(--monospace);

    & .variable-editor-title {
        padding-bottom: 10px;
    }
  }
}
.graphiql-container {
  @apply --flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  line-height: 1.5em;
  color: var(--text-color);

  & .editorWrap {
    @apply --flex-column;
    flex: 1;
    overflow-x: hidden;
  }

  & .title {
    font-size: 18px;
  }

  & .title em {
    font-family: georgia;
    font-size: 19px;
  }
}